<!-- views/partials/_topbar.ejs -->
<header class="bg-gray-700 fixed top-0 left-0 right-0 z-40 md:ml-64">
  <div class="container mx-auto px-4 py-2 flex justify-end items-center">
    <!-- Tokens & Login on the right side -->
    <button
      id="tokens-button"
      class="flex items-center bg-gray-600 hover:bg-yellow-600 px-2 sm:px-4 py-2 rounded-lg text-sm sm:text-base"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4 sm:h-5 sm:w-5 text-yellow-400 mr-1 sm:mr-2"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
        <path
          fill-rule="evenodd"
          d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943
          9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458
          10zM10 18a8 8 0 100-16 8 8 0 000 16z"
          clip-rule="evenodd"
        />
      </svg>
      <span id="token-count" class="text-yellow-400">- Credits</span>
    </button>
    <button
      id="google-auth-button"
      class="flex items-center bg-gray-600 hover:bg-green-600 px-3 sm:px-4 py-2 rounded-lg text-sm sm:text-base ml-4"
    >
      <div
        class="w-4 h-4 sm:w-5 sm:h-5 mr-1 sm:mr-2 rounded-full bg-gray-500 flex items-center justify-center"
      >
        <i class="fas fa-user text-white text-xs sm:text-sm"></i>
      </div>
      <span>Login</span>
    </button>
  </div>
</header>
